/*- Custom style -*/

// -- Put custom style under this point -- //

/**
 Dot line
*/
.line_dot {
    border: none;
    border-top: 1.4px dotted lightgray;
    color: #fff;
    background-color: #fff;
    float: left;
    height: 1px;
    width: 80%;
}

/**
 Font color
*/
.color_mainBlue {
  color : #154FA3;
}

.color_mainBlue_Bold {
  color : #154FA3;
  font-weight : bold;
}
  
.color_pointEmeraldGreen {
  color : #22a3b1;
}

.color_pointEmeraldGreen_Bold {
  color : #22a3b1;
  font-weight : bold;
}

.color_pointRed {
  color : #d00638;
}

.color_pointRed_Bold {
  color : #d00638;
  font-weight : bold;
}

.color_blurredGray {
 color : #969595;
 font-size : 15px;
}

.color_blurredGray_Bold {
 color : #969595;
 font-size : 15px;
 font-weight : bold;
}

/**
 Font Bold
*/
.add_bold {
  font-weight : bold;
}

/**
 Border Box 
*/
.border_light {
    border: 1.1px solid #c6c7c7;
    padding: 4px;
    margin: 10px 0 10px 0;
    text-align: center;
}

.border_normal {
    border: 2px solid #c6c7c7;
    padding: 4px;
    margin: 10px 0 10px 0;
    text-align: center;
}
