/*- Custom style -*/

// -- Put custom style under this point -- //

/**
 Font color
*/
.color_mainBlue {
  color : #154FA3;
}

.color_mainBlue_Bold {
  color : #154FA3;
  font-weight : bold;
}
  
.color_pointEmeraldGreen {
  color : #22a3b1;
}

.color_pointEmeraldGreen_Bold {
  color : #22a3b1;
  font-weight : bold;
}

.color_blurredGray {
  color : #969595;
}

.color_blurredGray_Bold {
  color : #969595;
  font-weight : bold;
}

/**
 Font Bold
*/
.add_bold {
  font-weight : bold;
}
